"*":
  core: {}
  editor:
    fontFamily: "Fira Code"
    fontSize: 17
    invisibles: {}
  "exception-reporting":
    userId: "bfcf2ff1-b453-3ada-1748-c1210895a328"
  welcome:
    showOnStartup: false
